.question-data-item {
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    
    &__chart {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        border-radius: 4px;
    }

    &--detail {
        font-size: 14px;
        color: #696969;
        padding: 0 10px;
    }
}

.text-response {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    width: max-content;
    max-width: 100%;

    &::after {
        content: '';
        border-width: 10px;
        border-style: solid;
        border-color: transparent #f5f5f5 transparent transparent;
        bottom: 8px;
        left: -20px;
        position: absolute;
    }
}